---
layout: home
---


<h1>
  Novedades
</h1>

<div class="ui items">
  {% assign features = site.posts | where:"featured", false %}
  {% for post in features limit:3%}
    {% if post.categoria == 'noticia' %}
      <div class="item">
      <div class="ui image medium">
        <img src="{{post.image_url}}">
      </div>
      <div class="content">
        <a href="{{site.baseurl}}{{post.url}}" class="header">
          {{post.title}}
        </a>
       
        <div class="description" style="font-size: 18px; line-height: 23px;">
          <p> {{post.meta}}</p>
        </div>
        <div class="meta">
          <a href="{{site.baseurl}}{{post.url}}" class="ui button small inverted green compact">
            Leer mas
            <i class='fa fa-chevron-circle-right fa-fw'></i>
          </a>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}

</div>

<a class="ui button green small" href="{{ site.baseurl }}/novedades/" style="text-transform: uppercase;">más novedades</a>