---
layout: home
---


<h1>
   <a href="{{ site.baseurl }}/novedades/">mas novedades</a>
</h1>

<div class="ui items">
  {% assign features = site.posts | where:"featured", false %}
  {% for post in features limit:4%}
    {% if post.categoria == 'noticia' %}
      <div class="item">
      <div class="image">
        <img src="{{post.image_url}}">
      </div>
      <div class="content">
        <a href="{{site.baseurl}}{{post.url}}" class="header">
          {{post.title}}
        </a>
       
        <div class="description">
          <p> {{post.meta}}</p>
        </div>
        <div class="meta">
          <a href="{{site.baseurl}}{{post.url}}" class="ui button mini inverted green compact">
            Leer mas
            <i class='fa fa-chevron-circle-right fa-fw'></i>
          </a>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}

</div>
