---
layout: home
---

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.js"></script>

<h1>
  Novedades
</h1>

<div class="ui items">
  {% assign features = site.posts | where:"featured", false %}
  {% for post in features limit:4%}
    {% if post.categoria == 'noticia' %}
      <div class="item">
      <a href="{{post.image_url}}" class="ui image medium item-gallery" data-fancybox="images" style="max-height: 175px; overflow: hidden;" data-srcset="{{post.image_url}}" >
        <img src="{{post.image_url}}">
            <span class="expand-image" style="position: absolute;
            top: 13px;
            right: 18px;
            z-index: 999;
            color: #fff;
            font-size: 20px;
            opacity: .7;
        ">
                      <i class="fa fa-expand"></i>
                    </span>
      </a>
      <div class="content" style="display: flex; flex-direction: column;">
        <a href="{{site.baseurl}}{{post.url}}" class="header">
          {{post.title}}
        </a>

       
        <div class="description" style="font-size: 18px; line-height: 23px; flex: 1; ">
          <p> {{post.meta}}</p>
          
        </div>
        <div class="meta" style="position: relative;">
          
           {% if post.external-link %}
                
                <a href="{{site.baseurl}}{{ post.external-link }}" class="ui button small inverted green compact">
                Leer mas
                <i class='fa fa-chevron-circle-right fa-fw'></i>
              </a>
             {% else %}
              
              <a href="{{site.baseurl}}{{post.url}}" class="ui button small inverted green compact">
                Leer mas
                <i class='fa fa-chevron-circle-right fa-fw'></i>
              </a>
             {% endif %}
          <time style="position: absolute; top: 5px; right: 40px; font-weight: 600; ">noticia del {{ post.date | date: "%-d/%-m/%Y" }}</time>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}

</div>

<a class="ui button green small" href="{{ site.baseurl }}/novedades/" style="text-transform: uppercase;">más novedades</a>