---
layout: page
permalink: /talleres/
---

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.js"></script>

<script type="text/javascript">
$(function(){
  $('#Container').on('mixLoad', function() {
    console.log('[event-handler] MixItUp Loaded');
  });
  
  $('#Container').on('mixStart', function() {
    console.log('[event-handler] Animation Started')
  });
  
  $('#Container').on('mixEnd', function() {
    console.log('[event-handler] Animation Ended')
  });
  
  $('#Container').mixItUp({
    callbacks: {
      onMixLoad: function() {
        console.log('[callback] MixItUp Loaded');
      },
      onMixStart: function() {
        console.log('[callback] Animation Started');
      },
      onMixEnd: function() {
        console.log('[callback] Animation Ended');
      }
    }
  });
});
</script>


<div class="talleres" >

<div class="talleres-2018">
	<a href="#controls">
  <img src="/img/talleres-2018.svg" alt="" width="600px" class="talleres-titulo">
  </a>

</div>
 <div class="talleres-notification">
  👋 Martes 12 de junio <a href="/novedades/reunion-talleristas">próxima reunión</a> de talleristas 👋
</div>
<div  class="controls">

      <span id="controls" style="
    position: absolute;
    left: 0;
    top: -50px;
"></span>
      <button type="button" class="ui button compact green" data-filter=".item-lunes">
        <span> lunes</span>
      </button>
      <button type="button" class="ui button compact green" data-filter=".item-martes">
        <span> martes</span>
      </button>
        <button type="button" class="ui button compact green" data-filter=".item-miercoles">
        <span> miercoles</span>
      </button>
        <button type="button" class="ui button compact green" data-filter=".item-jueves">
        <span> jueves</span>
      </button>
        <button type="button" class="ui button compact green" data-filter=".item-viernes">
        <span> viernes</span>
      </button>
        <button type="button" class="ui button compact green" data-filter=".item-sabado">
        <span> sabado</span>
      </button>
        <button type="button" class="ui button compact green" data-filter=".item-domingo">
        <span> domingo</span>
      </button>
        <button type="button" class="ui button compact teal" data-filter=".item-chicos-true">
        <span> para niñes</span>
      </button>
        <button type="button" class="ui button compact teal" data-filter=".item-oficios-true">
        <span> oficios</span>
      </button>
        <button type="button" class="ui button compact teal" data-filter=".item-rondas-true">
        <span> rondas</span>
      </button>
          <button type="button" class="ui button compact orange " data-filter="all">
        <span> todes ({{ site.talleres | size }})</span>
      </button>

    </div>


<div id="Container" class="container">
            
            <div class="fail-message"><span>Estos filtros no dieron resultado.</span></div>
    {% assign sorted = (site.talleres | sort: 'dia-semana') %}
    <li class="mix" style="background: rgb(242, 113, 28);color: rgb(255, 255, 255);;max-height: 296px;align-items: center !important;justify-content: center !important;border-top: 5px solid #904c1f;">
        <a data-fancybox="images" data-srcset="https://scontent.faep9-1.fna.fbcdn.net/v/t1.0-9/32627011_2034574686806104_4086329720474435584_n.jpg?_nc_cat=0&oh=76c1aef65d5f6c467eeff43e5916a2b3&oe=5B8C3B65" class="item-gallery" style="

        color: #fff;
        font-weight: 600;
        font-size: 22px;
        height: 100%;
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


" href="/img/grilla-talleres-2018.jpg" target="_blank">




    <i class="fa fa-cloud-download" style="
    
    /* display: block; */
    font-size: 29px;
    opacity: .3;
    margin-right: 10px;
    position: relative;
    top: 3px;

"></i>
    Ver grilla completa</a>
    </li>
    {% for talleres in sorted %}

    <li class="mix item-{{ talleres.dia}} item-chicos-{{talleres.chicxs}} item-oficios-{{talleres.oficios}} item-rondas-{{talleres.rondas}}">
    	<h3>
            {% if talleres.disable %}
                {{ talleres.title }}
             {% else %}
    		      <a href="{{ site.baseurl }}{{ talleres.url }}">{{ talleres.title }}</a>
             {% endif %}
		</h3>
    
    	<b>{{ talleres.dia }} {% if talleres.hora %} ({{ talleres.hora }}) {% endif %}</b>
        <br> <i>{{ talleres.contacto }}</i>
        {% if talleres.meta %}
    <p style="margin: 5px 0; font-size: 18px; padding: 10px;">{{talleres.meta}}</p>
    {% endif %}
        {% if talleres.disable %}
            <p style="margin-top: 25px;"> <i style="font-size: 25px; color: #ddd" class="fa fa-exclamation"></i><br>
            <b style="color: #ddd">en construcción</b></p>
         {% else %}
              <a style="padding-top: 10px; display: block; font-weight: 600;" href="{{ site.baseurl }}{{ talleres.url }}">ver más informacion</a>
         {% endif %}
	</li>
    {% endfor %}
    
</ul>
</div>

