<div id="share-bar">

    <h4><b>Participá compartiendo esta nota y muchas más...</b></h4>

    <div class="share-buttons">
        <a  href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="ui button compact facebook"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Compartir en facebook" >
            <i class="fa fa-facebook-official share-button"></i>
            Facebook
        </a>
        <a  href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="ui button compact twitter" onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Compartir en twitter" >
            <i class="fa fa-twitter share-button"></i>
            Twitter
        </a>
        <a  href="https://api.whatsapp.com/send?text={{page.meta}}%0{{ site.url }}{{ site.baseurl }}{{ page.url }}" target="_blank" title="Compartir por Whatsapp" class="ui button compact green whatsapp" >
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            Whatsapp
        </a>
    </div>

</div>
