$mobile: new-breakpoint(max-width 500px 4);
$ipad-v: new-breakpoint(max-width 768px 4);
$ipad-h: new-breakpoint(max-width 1027px 4);

.home {

    

	.main-container {
		display: flex;
		max-width: 1400px;
		//padding-top: 1em;
	    flex-wrap: wrap;

		 @include media($mobile) {
		 	flex-direction: column;
		 }
	}

	.featured-container {
		width: 100%;
		height: 400px;
		background: #f1f1f1;
		border-bottom: 2px solid #ddd;
		background-image: url(/img/vecinal-espacio.jpg);
		background-size: cover;
		background-position: center center;

		&::before {
			background-color: #25a55f;
			content: '';
			position: absolute;
			top: 0px;
			left: 0;
			right: 0;
			height: 400px;
			opacity: 0.9;

			@include media($mobile) {
				height: 600px;
			}
		}

		@include media($mobile) {
			height: 600px;
		}


		.owl-wrapper-outer {
			height: 400px;

			@include media($mobile) {
				height: 600px;
			}


		}

		.owl-pagination {
			position: absolute;
			bottom: 10px;
			width: 100px;
			left: calc(50% - 50px);
		}

		.owl-buttons {

		}
		

		.owl-prev, .owl-next {
			position: absolute;
			top: 50%;
			padding: 0 !important;
			font-size: 32px !important;
			-webkit-border-adius: 100px !important;
			-moz-border-radius: 100px !important;
			border-radius: 100px !important;
			background: #f9f9f9 !important;
			opacity: .8 !important;
			height: 45px;
			width: 45px;
			text-align: center;
		    line-height: 45px;

		    @include media($mobile) {
		    	top: 30%;
		    }


		    .fa {
		    	color: #177d42;
		    }
		}

		.owl-page span {
			background: #fff !important;
		}

		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}

		.owl-item {
			height: 400px;
			text-align: left;
			padding: 3em 2em;
			color: #fff;

			@include media($mobile) {
				height: 600px;
			}
		}

		.item {
			display: flex;
			max-width: 900px;
			margin: 0 auto;

			@include media($mobile) {
				flex-direction: column;
			}

			.image {
				overflow: hidden;
				border-radius: 9px;
				position: relative;
				height: 252px;
			    flex: 1;


				@include media($mobile) {
					width: 100%;
					height: auto;
				}

				img {
					height: auto;
				}
			}

			.content {
				width: 50%;
				padding: 0 1em;
				display: flex;
				flex-direction: column;
			    flex: 1;

				@include media($mobile) {
					width: 100%;
					padding: .5em;
				}


				.header {
					font-size: 32px;
					color: #fff;
					text-decoration: none;
					font-weight: 600;
					margin-top: 15px;

					@include media($mobile) {
						font-size: 24px;
					}

				}

				.description {
					font-size: 20px;
					color: #fff;
					//flex: 1;
				}

			}
		}
	}

	section {
	    max-width: 1280px;
	    margin: 0 auto 50px;
		
		padding: 0;
		display: flex;

		@include media($ipad-v) {
			flex-direction: column;
		}

		@include media($mobile) {
			flex-direction: column-reverse;
		}

		
		article {
			flex: 1;
			background: #fff;
			padding: 2em 1em;

			@include media($mobile) {
				width: 100%;
			}
		}

		h1 {
			font-size: 35px;
			margin: 0;

			a {
				text-decoration: none;
				font-family: 'Alegreya Sans SC', sans-serif;
				color: #157a40;
			}
		}

		.item {
			border-bottom: 1px solid #ddd !important;
			padding-bottom: 25px !important;
		}

		aside {
			width: 350px;
			padding: 0 2em;

			@include media($ipad-v) {
			 	width: 100%;
			}

			 @include media($mobile) {
			 	width: 100%;
			 }
		}

		&.talleres {
			flex-direction: column;
			background: #fff;
			width: 100%;
			display: none;

			.mix {
				width: 48%;
				text-align: left;
				padding: 1em 2em;
				background: #f9f9f9;
			}


			h1 {
				width: 100%;
				text-align: center;
				margin: 1em 0;
			}

			.talleres-list {
				justify-content: center;
				display: flex;
				flex-wrap: wrap;

				a {
					margin: 5px;
				}
			}
		}
	}

	
}