$mobile: new-breakpoint(max-width 500px 4);

.post {
	display: flex;

	@include media($mobile) {
		flex-direction: column;
	}

	article {
		flex: 1;
		background: #fff;
		padding: 2em 3em;

		@include media($mobile) {
			width: 100%;
			padding: 1.8em 0.8em;
		}
	}

	aside {
		width: 400px;
		padding: 2em 1em;

		@include media($mobile) {
			width: 100%;
		}
	}

	.featured-image {
		max-height: 300px;
		overflow: hidden;
		border-radius: 10px;
	}

	.article {
		max-width: 600px;
		margin: 0 auto;

		p {
			font-size: 20px;
		}
	}

	.pagination {
		max-width: 600px;
		margin: 50px auto;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ddd;
		padding: 1em 0;

		a {
			color: #157a40;
			font-weight: 600;
			font-size: 20px;
		}
	}

	.comentarios {
		display: none;
	}
}