$mobile: new-breakpoint(max-width 500px 4);
$ipad-v: new-breakpoint(max-width 768px 4);

.post {
	display: flex;

	@include media($ipad-v) {
		flex-direction: column;
	}

	article {
		flex: 1;
		background: #fff;
		padding: 0;

		@include media($ipad-v) {
			width: 100%;
			padding: 1.8em 0.8em;
		}
	}

	aside {
		width: 350px;
		padding: 2em 1em;

		@include media($ipad-v) {
			width: 100%;
		}

	}

	.featured-image {
		max-height: 450px;
		overflow: hidden;
		border-radius: 0;
		margin-bottom: 25px;

		@include media($ipad-v) {
		    height: 420px;

		    img {
		    	height: 100%;
		    	width: auto !important;
		    }
		}
	}

	.article {
		max-width: 600px;
		margin: 0 auto;
		padding: 0 1em;

		p {
			font-size: 20px;
		}


	}

	.pagination {
		max-width: 600px;
		margin: 50px auto;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ddd;
		padding: 1em 0;

		a {
			color: #157a40;
			font-weight: 600;
			font-size: 20px;
			position: relative;
			padding: 0 25px;

			.fa {
				position: absolute;
				top: 3px;
			}

			.fa-chevron-right {
				right: 0;
			}

			.fa-chevron-left {
				left: 0;
			}
		}
	}

	.comentarios {
		display: none;
	}

	&.featured {
		article {
			padding: 0;
		}

		.article {
			max-width: 660px;
			padding: 0 1em;
		}

		h1 {
			text-align: center !important;
			font-size: 50px !important;
			font-weight: 100;
			position: absolute;
			z-index: 2;
			top: 130px;
			left: 30vw;
			right: 30vw;
			color: #fff;

			@include media($ipad-v) {
				max-height: 90vh;
				left: 20px;
				right: 20px;
				margin: 0;
			}
		}
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;

	.item-gallery {
		width: 48%;
		margin: 1%;
	
		@include media($mobile) {
			width: 100%;
			margin: 1% 0;
		}

		img {
			width: 100%;
		}
		
	}		 

	&.col-3 {
		.item-gallery {
			width: 31%;
			margin: 1%;

			@include media($mobile) {
				width: 100%;
				margin: 1% 0;
			}
		}

	}

}