$desktop: new-breakpoint(max-width 1000px 4);
$mobile: new-breakpoint(max-width 500px 4);

.talleres {
	padding: 0;

    .container {
        min-height: 90vh;
    }
    

    .talleres-soon {
        position: absolute;
        right: 23px;
        top: 37px;
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #999;
        font-weight: 600;
        font-size: 17px;

        @include media($mobile) {
            position: relative;
            top: 0;
            left: 5px;
            display: block;
        }

        .fa {
            margin-left: 5px;
        }
    }

    .right-content {
        margin: 0 0 0 230px;
        padding: 1em;
        position: relative;

        @include media($desktop) {
            margin: 0;
            padding: 1em;
        }
    }

    .controls {
    	padding: 2em 120px;
    	//background-image: url(/img/pizarra.png);
        background: #f9f9f9;
    	color: #fff;
    	overflow: hidden;
    	background-size: cover;
    	background-position: center center;
        position: relative;
        width: 100%;

    	@include media($desktop) {
    		padding: 2em .5em;
            position: relative;
            top: 0;
            width: 100%;
    	}

    	h1 {
    		text-align: center;
    		margin: 0 0 20px 0;
    		position: relative;

    		@include media($mobile) {
    			font-size: 22px;
    		}
    	}

    	&::before {
    		background-color: #378c5b;
    		//content: '';
    		position: absolute;
    		top: 80px;
    		left: 0;
    		right: 0;
    		height: 37vh;
    		opacity: 0.9;
    	}

    	b {
    		position: relative;
            display: block;
            text-align: left;
            border-bottom: 1px solid #ddd;
            text-transform: uppercase;
            width: 100%;
            margin-bottom: 15px;

    		@include media($desktop) {
    			display: none;
    		}
    	}

    	button {
    		position: relative;
            width: 150px;

    		@include media($desktop) {
    			font-size: 14px !important;
    			padding: 11px !important;
                width: auto;
    		}
    		span {
    			text-transform: lowercase;
    			font-family: 'Alegreya Sans SC', sans-serif;
    		}
    	}
    }

    .mix {
    	background: #fff;
        max-height: 320px;
        height: auto;
        box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.1);
        margin-top: 20px;


        @include media($desktop) {
            width: 48%;
        }

        @include media($mobile) {
            width: 100%;
         
        }


        h3 {
            font-size: 25px;
            margin: 0 0 15px 0;
            font-weight: 100;
            border-bottom: 1px solid #ddd;
            padding: 0 15px;
            min-height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        a {
            text-decoration: none;
            color: #378c5b;
        }

        b {
            text-align: center;
            text-transform: lowercase;
            font-family: 'Alegreya Sans SC';
            font-size: 20px;
        }
    }

}




.talleres-list {


	a {
		margin: 5px !important;
	}
}

.talleres-2018 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding:  0;
    background: #fff;
    margin-bottom: 0;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    height: 280px;

    @include media($mobile) {
            height: 180px;
    }

    .talleres-titulo {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 750px;
        top: 29px;
        padding: 5px;
        transform-origin: center center;
        -webkit-transition: all .4s cubic-bezier(0.7,0,.3,1);
        -moz-transition: all .4s cubic-bezier(0.7,0,.3,1);
        transition: all .4s cubic-bezier(0.7,0,.3,1);

        &:hover {
            transform: scale(1.05);
        }

        @include media($mobile) {
                transform: scale(1.5);
                top: 30px;

                &:hover {
                    transform: scale(1.5);
                }
        }
       
    }

    .talleres-back {
        position: absolute;
        left: 0;
        right: 0;
        top: -200px;
        /* height: 200px; */
        width: 100%;
        opacity: .3;

        @include media($desktop) {
           top: 0;
        }
    }

}

