$desktop: new-breakpoint(max-width 1000px 4);
$mobile: new-breakpoint(max-width 500px 4);

.talleres {
	padding: 0;
    min-height: 90vh;

    .controls {
    	padding: 2em;
    	background-image: url(/img/pizarra.png);
    	color: #fff;
    	height: 37vh;
    	overflow: hidden;
    	background-size: cover;
    	background-position: center center;

    	@include media($mobile) {
    		padding: 2em .5em;
    	}

    	h1 {
    		text-align: center;
    		margin: 0 0 20px 0;
    		position: relative;

    		@include media($mobile) {
    			font-size: 22px;
    		}
    	}

    	&::before {
    		background-color: #378c5b;
    		content: '';
    		position: absolute;
    		top: 80px;
    		left: 0;
    		right: 0;
    		height: 37vh;
    		opacity: 0.9;
    	}

    	b {
    		position: relative;

    		@include media($mobile) {
    			display: none;
    		}
    	}

    	button {
    		position: relative;

    		@include media($mobile) {
    			font-size: 14px !important;
    			padding: 11px !important;
    		}
    		span {
    			text-transform: lowercase;
    			font-family: 'Alegreya Sans SC', sans-serif;
    		}
    	}
    }

    .mix {
    	background: #fff;
    }

}




.talleres-list {


	a {
		margin: 5px !important;
	}
}