/* Share Bar */
#share-bar {
    font-size: 20px;
    text-align: center;
    padding: 1em 2em 2em;

    .share-button {
        padding-right: 10px
    }
}

/* Title */
#share-bar h4 {
    margin-bottom: 10px;
    font-weight: 500;
}
