.widget {
	background: #fff;

	h3 {
		font-family: 'Alegreya Sans SC', sans-serif;
		font-size: 22px;
		padding: .5em 0;
		border-bottom: 4px solid #ddd;
		margin-bottom: 0;
		text-align: center;
		background: #fff;
	}

	ul {
		padding: 1em;
		list-style-type: none;
		margin: 0;
	}

	li {
		border-bottom: 1px solid #ddd;
		padding: 5px;
		font-size: 17px;

		a {
			text-decoration: none;	
			color: #2c9f5b;
		}
	}

	

	&.agenda {

		hr {margin: 0}
		h3 {

		}

		.content {
		    margin: 0;
			
			

		}


		.description {
			padding: 10px;
			display: block;
			font-size: 18px;
			text-align: center;
			color: #777;
		}

		a {
			text-decoration: none;
			color: #2c9f5b;
			font-weight: 600;
			padding: 0;
			display: block;
		}
	}

	&.talleres-widget {
		h3 {
			
		}
	}
}