@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700');

body {
	margin: 0;
	padding: 120px 0 0 0;
	background: #f9f9f9;
}

h1, h2, h3, h4, h5 {
	font-family: 'Alegreya Sans SC', sans-serif;
}

.top-bar {
	display: flex;
	background: #fff;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);

	.logo {
		position: absolute;
		top: -5px;
	}

	nav {
		font-family: 'Alegreya Sans SC', sans-serif;
		flex: 1;
		text-align: right;

		a {
			margin: 0 15px;
			text-decoration: none;
			border-bottom: 2px solid transparent;
			color: #157A40;
			padding: 10px 0;
			font-size: 20px;

			&.active {
				border-bottom: 2px solid #157A40;
			}
		}
	}

}

.main-container {
	max-width: 900px;
	margin: 0 auto;
}


.talleres-list {

	a {
		width: 30%;
		height: 250px;
		border: 1px solid #ddd;
		display: inline-block;
		text-decoration: none;
		font-size: 24px;
		color: #fff;
		padding: 1%;
		background-color: #157A40;
		margin-bottom: 6px;
		font-family: 'Alegreya Sans SC', sans-serif;
	}
}

.novedades {
	background: #fff; padding: 2em 3em;

	ul {

	}

	li {
		margin: 5px 0;
	}

	a {
		font-size: 20px; 
	}
}

.espacio {
	background: #fff; padding: 2em 3em;
	text-align: center;
}