@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:700');

body {
	margin: 0;
	padding: 120px 0 0 0;
	background: #f9f9f9;
}

.top-bar {
	display: flex;
	background: #fff;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.2);

	.logo {
		position: absolute;
		top: -5px;
	}

	nav {
		font-family: 'Alegreya Sans SC', sans-serif;
		flex: 1;
		text-align: right;

		a {
			margin: 0 15px;
			text-decoration: none;
			border-bottom: 2px solid transparent;
			color: #157A40;
			padding: 10px 0;
			font-size: 20px;

			&.active {
				border-bottom: 2px solid #157A40;
			}
		}
	}

}

.main-container {
	max-width: 900px;
	margin: 0 auto;
}
