<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
  <title>Vecinal del Paraje Entre Ríos</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <meta name="robots" content="index, follow">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <meta name="description" content="Enterate de las últimas novedades de La Vecinal del Paraje Entre Ríos"/>


  <meta content="La vecinal" property="og:site_name">
  {% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
  {% else %}
  <meta content="La vecinal del paraje entre rios" property="og:title">
  {% endif %}
  {% if page.meta %}
  <meta content="{{ page.meta }}" property="og:description">
  {% else %}
  <meta content="Enterate de las últimas novedades de nuestra vecinal" property="og:description">
  {% endif %}
  {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/elparaje/" property="article:author">
  {% endif %}
  {% if page.image_url %}
  <meta content="{{ site.url }}{{ page.image_url }}" property="og:image">
  {% else %}
  <meta content="https://lavecinal.github.io/img/opengraph.jpg" property="og:image">
  {% endif %}
	
  <meta property="fb:app_id" content="1288928734550299" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  
  <link rel="stylesheet" href="{{site.baseurl}}/style.css">
  <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="{{ site.baseurl }}/js/mixitup.js"></script>
	
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108130854-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108130854-1');
</script>
</head>
<body>

<div class="offcanvas js-menu sliding-panel-content">
  <ul>
      <li><a href="{{ site.baseurl }}/novedades/" {% if page.url == '/novedades/' %}class="active" {% endif %}>novedades</a></li>
      <li><a href="{{ site.baseurl }}/talleres/" {% if page.url == '/talleres/' %}class="active" {% endif %}>talleres</a></li>
      <li><a href="{{ site.baseurl }}/elparaje/" {% if page.url == '/elparaje/' %}class="active" {% endif %}>el paraje</a></li>
      <li><a href="{{ site.baseurl }}/participa/" {% if page.url == '/participa/' %}class="active" {% endif %}>participa</a></li>
  </ul>
</div>

{{content}}

<div class="js-menu-screen sliding-panel-fade-screen"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script src="{{ site.baseurl }}/js/owl.carousel.js"></script>

<footer style="text-align: right; background: #333; padding: 2em;">
<div class="github" style="
    float: left;
    color: #999;
    width: 100%;
    text-align: center;
    padding: 15px;
    line-height: 25px;
">
  <i class="fa fa-github-square" aria-hidden="true"></i> Este sitio esta alojado gratuitamente en <a style="color: #fff;" target="_blank" href="https://github.com/lavecinal/lavecinal.github.io">Github y es de código abierto.</a>
</div>

<div class="maldonado" style="
    display: block;
    text-align: center;
    padding: 1em 0;
">
  <span class="fa-stack fa-lg" aria-hidden="true">
      <i class="fa fa-flag fa-stack-2x" style="
      color: #25a55f;
  "></i>
      <i class="fa fa-heart fa-stack-1x" style="
      color: #fff;
      position: relative;
      top: -5px;
      font-size: 12px;
      left: 0px;
  "></i>
    </span>
    <span id="demo" style="color: #fff;width: auto;text-indent: -7px;overflow: hidden;margin: 0px 0 0 15px;font-size: 20px;display: inline-block;position: relative;top: 5px;"></span>
</div>

  <script>
  // Set the date we're counting down to
  var countDownDate = new Date("Aug 1, 2017 22:00:00").getTime();

  // Update the count down every 1 second
  var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();

    // Find the distance between now an the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));

    // Display the result in the element with id="demo"
    document.getElementById("demo").innerHTML = days + " días sin Santiago Maldonado";

    
  }, 1000);
  </script>
</footer>

{% include offcanvas.html %}
	



</body>
