<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Vecinal</title>
  <link rel="stylesheet" href="{{site.baseurl}}/style.css">
</head>
<body>

<div class="top-bar">
	<a class="logo" href="{{ site.baseurl }}/">
		<img src="{{ site.baseurl }}/img/logo-vecinal.svg" width="200px">
	</a>
	<nav>
		<a href="{{ site.baseurl }}/elespacio/" {% if page.url == '/elespacio/' %}class="active" {% endif %}>el espacio</a>
		<a href="{{ site.baseurl }}/talleres/" {% if page.url == '/talleres/' %}class="active" {% endif %}>talleres</a>
		<a href="{{ site.baseurl }}/novedades/" {% if page.url == '/novedades/' %}class="active" {% endif %}>novedades</a>
		<a href="{{ site.baseurl }}/participa/" {% if page.url == '/participa/' %}class="active" {% endif %}>participa</a>
	</nav>
</div>

<div class="main-container">
	{{content}}
</div>


</body>
