---
layout: page
---
<div class="post">
	
<article>

<div class="featured-image">
	<!--<img src="{{page.image_url}}" style="width: 100%;">-->
</div>
<div class="article">
	
<h1 style="
    text-align: left;
    font-size: 35px;
    border-bottom: 1px solid #ddd;
">
	{{page.title}} <br>
</h1>



{{content}}
</div>

<div class="pagination">  
  {% if page.previous.url %}  
    <a class="prev" href="{{page.previous.url}}">
    	<i class="fa fa-chevron-left" aria-hidden="true"></i>
    	{{page.previous.title}}
    </a>  
  {% endif %}  
  {% if page.next.url %}  
    <a class="next" href="{{page.next.url}}" style="text-align: right">
    	{{page.next.title}}
    	<i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>  
  {% endif %}  
</div>  

<div class="comentarios">
<h2 style="text-align: center">Comentarios</h2>
<div class="fb-comments" data-href="lavecinal.github.io{{ page.url }}" data-num-posts="4" data-width="100%"></div>
</div>

</article>
<aside>
	<div class="widget agenda">
		<h3>agenda</h3>
		{% assign items = site.agenda | sort: 'orden' %}
		{% for item in items limit:6 %}
		  	  <div class="content">
	  	        <div class="description">
            	  {% if item.link %}
      			<a href="{{ site.baseurl }}{{item.link}}">{{item.title}} </a>
            	  {% else %}
      			<a style="color: #333;">{{item.title}} </a>
            	  {% endif %}
	  	  	      <b>{{item.fecha}} a las {{item.hora}}</b>
	  	        </div> 
			    <hr>
		  	  </div>
		{% endfor %}
	</div>
	<div class="widget">
		<h3>últimas novedades</h3>
		<ul>
			
		 {% for post in site.posts limit:9 %}
	 	  <li><a href="{{site.baseurl}}{{post.url}}" class="header">
	 	  	{{post.title}}
	 	  </a></li>
		{%endfor %}
		</ul>
	</div>
	<div class="widget" >
  	<a target="_blank" class="" href="https://www.facebook.com/profile.php?id=100007607774862"><h3 > <i class="fa fa-facebook-square" aria-hidden="true"></i>  contactanos </h3></a>

  	</div>

</aside>



</div>
