---
layout: page
---
<div class="post">
	
<article style="background: #fff; padding: 2em 3em;">
	
<h1 style="
    text-align: center;
    font-size: 35px;
    border-bottom: 1px solid #ddd;
">
	{{page.title}} <br>
</h1>
{% if page.anexo %}
  <b style="text-align: center; width: 100%; display: block;">({{page.anexo}})</b>
{% endif %}
<h2 style="text-align: center;">
{{page.dia}} de {{page.hora}}

{% if page.dia-2 %}
  y {{page.dia-2}} de {{page.hora-2}}
{% endif %}
</h2>


{{content}}

<div class="comentarios">
<h2 style="text-align: center">Comentarios</h2>
<div class="fb-comments" data-href="lavecinal.github.io{{ page.url }}" data-num-posts="4" data-width="100%"></div>
</div>

</article>
<aside>


   <div class="widget">
		<h3>lista de talleres</h3>
		<ul>
			
		{% for talleres in site.talleres %}
		  <li><a class="header" href="{{ site.baseurl }}{{ talleres.url }}">{{ talleres.title }}</a></li>
		{% endfor %}
		</ul>
	</div>
	

</aside>



</div>
