---
layout: page
---

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.js"></script>

<div class="print">
  <h2>
    {{page.title}} 
  </h2>
</div>


<div class="post featured">
	
<article>

<div class="featured-image" style="background: #333;">
	<img src="{{page.featured_img}}" style="width: 100%;opacity: .5;">
  <h1 style="">
    <b style="font-size: 15px;">publicado el {{ page.date | date: "%-d/%-m/%Y" }}</b><br>
    {{page.title}} 
   
  </h1>
</div>
<div class="article">
{{content}}
</div>

<div class="pagination">  
  {% if page.previous.url %}  
    <a class="prev" href="{{page.previous.url}}">
    	<i class="fa fa-chevron-left" aria-hidden="true"></i>
    	{{page.previous.title}}
    </a>  
  {% endif %}  
  {% if page.next.url %}  
    <a class="next" href="{{page.next.url}}" style="text-align: right">
    	{{page.next.title}}
    	<i class="fa fa-chevron-right" aria-hidden="true"></i>
    </a>  
  {% endif %}  
</div>  

<div class="comentarios">
<h2 style="text-align: center">Comentarios</h2>
<div class="fb-comments" data-href="lavecinal.github.io{{ page.url }}" data-num-posts="4" data-width="100%"></div>
</div>

</article>




</div>

<script type="text/javascript">
  $("[data-fancybox]").fancybox({
    // Options will go here
  });
</script>