---
layout: page
---
<div class="post">
	
<article style="background: #fff; padding: 0;">

{% if page.image_url %}
  <img src="{{page.image_url}}" alt="" width="100%">
{% endif %}

<h1 style="text-align: center;font-size: 35px;border-bottom: 1px solid #ddd;">
	{{page.title}} <br>
</h1>
{% if page.anexo %}
  <b style="text-align: center; width: 100%; display: block;">({{page.anexo}})</b>
{% endif %}
<h2 style="text-align: center;">
{{page.dia}} de {{page.hora}}

{% if page.dia-2 %}
  y {{page.dia-2}} de {{page.hora-2}}
{% endif %}
</h2>

<section class="article">
	{{content}}
</section>



</article>
<aside>

	<a class="ui button green tiny" href="/talleres">
		<i class="fa fa-chevron-left"></i>
		Volver a talleres
	</a>

   <div class="widget">
		<h3>lista de talleres</h3>
		<ul>
		{% assign sorted = (site.talleres | sort: 'dia-semana') %}
		{% for talleres in sorted %}

		  <li>
		          {% if talleres.disable %}
		              - <i>{{ talleres.title }}</i>
		           {% else %}
		  		     <a class="header" href="{{ site.baseurl }}{{ talleres.url }}">
		  		     -	{{ talleres.title }}
		  		     </a>
		           {% endif %}
		     </li>

		{% endfor %}
		</ul>
	</div>
	

</aside>



</div>
