---
layout: page

---

<div class="novedades">
  <article>
    <h1 style="border-bottom: 1px solid #ddd">Novedades</h1>
    <div class="ui items">
    {% for post in paginator.posts %}
    <div class="item">
      <a href="{{site.baseurl}}{{post.url}}" class="ui image medium" style="max-height: 175px; overflow: hidden;">
        <img src="{{post.image_url}}">
      </a>
      <div class="content">
        <a href="{{site.baseurl}}{{post.url}}" class="header">
          {{post.title}}
        </a>
        <div class="description" style="font-size: 18px; line-height: 23px; position: relative">
          <p> {{post.meta}}</p>
          <time style="position: absolute; top: -35px; right: 0; font-weight: 600; letter-spacing: 1px;">{{ post.date | date: "%-d/%-m/%Y" }}</time>
        </div>
        <div class="meta">
          <a href="{{site.baseurl}}{{post.url}}" class="ui button small inverted orange compact">
            Leer mas
            <i class='fa fa-chevron-circle-right fa-fw'></i>
          </a>
         
        </div>
      </div>
    </div>
    {% endfor %}
    </div>

    <div class="paginator">
    {% if paginator.next_page or paginator.previous_page %}
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">
         <i class="fa fa-long-arrow-left" aria-hidden="true"></i> página anterior</a>
      {% else %}
        <b> <i class="fa fa-long-arrow-left" aria-hidden="true"></i>página anterior</b>
      {% endif %}
      <b>{{paginator.page}} / {{paginator.total_pages}}</b>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">página siguiente <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
      {% else %}
        <b>página siguiente <i class="fa fa-long-arrow-right" aria-hidden="true"></i></b>
      {% endif %}
    {% endif %}
    </div>
  </article>

  <aside>
  	<div class="widget">
  		<h3>últimas novedades</h3>
  		<ul>
  		 {% for post in site.posts limit:6 %}
  	 	  <li><a href="{{site.baseurl}}{{post.url}}" class="header">
  	 	  	{{post.title}}
  	 	  </a></li>
  		{%endfor %}
  		</ul>
  	</div>
  	 <div class="widget" >
      <h3>Contactanos</h3>
<div class="fb-page" data-href="https://www.facebook.com/vecinaldelparaje/" data-tabs="timeline" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/vecinaldelparaje/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vecinaldelparaje/">Vecinal Paraje Entre Rios</a></blockquote></div>
    </div>
  </aside>
</div>
